// <Header>
header#navbar { 
  top: 0;
  left: 0;
  width: 100vw;
   

  $dark: black;
  $light: white;
  $dark-blue: #111926;

  li { cursor: pointer; }  

  nav {
    font-weight: 500;
    .gutter {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  nav#top {
    background: $dark-blue;
    color: white;    
  }
  
  nav#bottom {
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-bottom: 1px solid rgba(255, 255, 255, 0.125);
    // border-top: solid $dark-blue 1px;
    color: white;
    // margin-top: -1px; // offset upwards a little to hide the edge effect (it is very evident between the top and bottom), cover with the top navbar
    // position: relative; 
    // z-index: -1; // place under the top navbar

    .gutter {

      // #logo {
      //   margin: 0;
      // }
      
      #cart-btn,
      #hamburger-btn {
        // -Combine this with the scale factor of the hidden-target.
        height: 40px;
        width: 40px;
      
        color: white; 
        border: solid white 1px;

        border-radius: 0.25rem;
        box-shadow: 0 1rem 2rem hsla(0 0% 0% / 0.2);

        cursor: pointer;
      }

      #hamburger-btn { padding: 0.5rem; }
      #cart-btn      { padding: 0.635rem; }

      #cart-btn {  position: relative;

        // svg {
        //   max-width: 50px;
        //   max-height: 50px;
        // }

        // -status === 'entered' => child of li.box
        // -status === 'exiting' => child of #hidden-target
        // -Scaling of .box-child:
        //      -3 heights/widths set:
        //        --1. .box-child
        //        --2. .box           (parent in status: 'entered')
        //        --3. #hidden-target (parent in status: 'exiting')
        //      -Height/Width is set to $box-size on all 3-elements.
        //      -transform: scale(0.1) is set on the #hiden-target and this is the size the card animates to during animation.
        //
        //      --On page load we get the height and width of the first card via JS 
        //        (analagous to how we are handling the height of the grid).
        //      --Then, we use these values in inline styles set in JSX for .box-child in px-values.
        //      --Advantage:
        //        ---Doing it this way allows the grid to be dynamically sized based on the size of the screen.
        //        ---But in order to do the scaling animation correctly during FLIP we need to explicitly set the height
        //           and width to constant values, which we achieve as described above.

        // .box-child is moved here
        #hidden-target { position: absolute;
          top: 0;
          left: 0;
          // background: rgba(255, 255, 0, 0.5);
          $target-size: 250px; 
          height: $target-size;
          width: $target-size;
          transform: scale(0.1); // this transforms the height / width => the animated card will end up this height
          transform-origin: 20px 20px; // top left

          text-align: left; // text of card moving into cart inherits text-align center without this.

          // .box-child lives here during status: 'exiting'
          div.box-child {}
        }



        #cart-count { position: absolute;
          top: -25%;
          right: -25%;
          
          // background: $dark;
          // color: $light;

          

          // border: solid white 1px;


          backdrop-filter: blur(5px) saturate(180%);
          -webkit-backdrop-filter: blur(2px) saturate(180%);
          background-color: rgba(17, 25, 40, 0.5);
          border: 1px solid rgba(255, 255, 255, 0.125);
          color: white;



          border-radius: 50%;
          height: 20px;
          width: 20px;

          span { 
            height: 100%;
            width: 100%;
            // background: rgba(0, 0, 0, 0.5);
            display: grid;
            place-items: center;
            font-size: 0.7rem;
          }

        }
      }
    }
  }
}// </ Header>