.checkboxes-container {
  padding: 0.5em;

  // background: lightblue;

  .title {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
  }

 .checkbox-container:not(:last-child) {
    margin-bottom: 0.35em;
    // background: orange;
  }
}