.chevron-anim {
  overflow: hidden;
  &__title {
    cursor: pointer;
    // background: red;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    perspective: 800px;

    &__arrow {
      transform: rotate3d(1, 0, 0, 0deg);
      transform-origin: center;
      transition: transform 0.5s ease;

      // background: red;
      height: 1.1rem;
      // display: flex;
      // align-items: center;
      
      &-up {
        transform: rotate3d(1, 0, 0, 180deg);
      }
    }
  }
}
