@use './globals' as g;

/* ========================================= */

// $pad: 1rem;
$pad: min(1vw, 1rem);

@mixin my {
  margin-top: $pad;
  margin-bottom: $pad;
}

/* ========================================= */

@mixin maxbreak($break: g.$desktop) {
  @media (max-width: #{$break}) { 
    @content;
  }
}

@mixin minbreak($break: g.$desktop) {
  @media (min-width: #{$break}) { 
    @content;
  }
}
